body{background-image: url(../pic/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	}
.title-main {
	text-transform: uppercase;
	color: white;
	font-size: 30px;
	padding-top: 20px;
}	
.btn-qh {
	padding-top: 30px;
	padding-bottom: 30px;
}
tr th {color: white;}
td {color: white;}
@media screen and (max-width: 768px){
}